
# See https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: CI

on: [push, pull_request]

jobs:
  Package:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        distro:  [ "leap_latest" ]

    container:
      image: registry.opensuse.org/yast/head/containers_${{matrix.distro}}/yast-ruby

    steps:

    - name: Git Checkout
      uses: actions/checkout@v2

    - name: Shellcheck
      run: shellcheck -x src/scripts/yast2_container && echo "OK"

    - name: Package Build
      run: yast-ci-ruby -o package
